<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title> World Runners </title>
    </head>
    <body>
        <h1>World Runners</h1>
        <ul>
            <% @runners.each do |runner| %>
                <li><%= runner.fullname %></li>
            <% end %>
        </ul>
        <a href="/runners/new">Add Another Runner</a>
    </body>
</html>

