<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Runners - Add Runner</title>
    </head>
    <body>
        <h1>Add Another Runner</h1>
        <form>
            <table>
                <tr>
                    <td><label for="name_first">First Name:</label></td>
                    <td><input type="text" name="name_first"></td>
                </tr>    
                <tr>
                    <td><label for="name_last">Last Name:</label></td>
                    <td><input type="text" name="name_last"></td>
                </tr>    
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
        <a href="/runners">Back to Index</a>
    </body>
</html>

